<div class="todo-item">
    <div>
        <span class="squaredFour">
            <input type="checkbox" id="{{item.id}}" class="squaredFour todo-checkbox" [checked]="item.completed" (click)="completeItem()" />
            <label for="{{item.id}}"></label>
        </span>
        <span class="todo-title" [ngClass]="{ 'todo-complete': isComplete} ">
            {{ item.title }}
        </span>

        <!--  
        <span class="todo-title " [ngClass]="{ 'todo-complete': isComplete} ">
            {{ item.title }}
        </span>
            <input type="checkbox " class="todo-checkbox " [checked]="item.completed " (click)="completeItem() " />
        <span class="todo-title " [ngClass]="{ 'todo-complete': item.completed} ">
            {{ item.title }}
        </span> -->
    </div>

    <div class="delete" (click)="removeItem() ">
        <i class="material-icons">delete_outline</i></div>
</div>